@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss";
@theme {
  --font-nunito: "Nunito", "sans-serif";
  --color-primary: #010718;
}

/* Hide scrollbar but keep scrolling */
.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;     /* Firefox */
}
